{% extends "partials/base.html" %}
{% load static %}
{% block content %}
 <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form method="POST" action="{% url 'store:add_address' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <h6 class="coupon__code"><span class="icon_tag_alt"></span> Have a coupon? <a href="#">Click
                            here</a> to enter your code</h6>
                            <h6 class="checkout__title">Billing Details</h6>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name<span>*</span></p>
                                        {{ form.first_name }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        {{ form.last_name }}
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Country<span>*</span></p>
                                {{ form.country }}
                            </div>
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                <label>Delivery Address</label>
                                {{ form.delivery_address }}
                                
                            </div>
                            <div class="checkout__input">
                                <p>Town/City<span>*</span></p>
                                {{ form.city }}
                            </div>
                            <div class="checkout__input">
                                <p>State<span>*</span></p>
                                {{ form.state }}
                            </div>
                            <div class="checkout__input">
                                <p>Postcode / ZIP<span>*</span></p>
                                {{ form.postal_code }}
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        {{ form.phone }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        {{ form.email }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="continue__btn">
                                    <button type="submit" class="btn btn-danger">Add Address</button>
                                </div>
                            </div>
                        
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}